page-home {

#teamA{
    width: 50%;
    float: left;
    padding: 5%;
    color: black;
    border-right: 1px solid black;

    button{
        color: #222;
    }
}

#teamB{
    padding: 5%;
    width: 50%;
    float: right;

    button{
        color: #222;
    }
    
    
}
#reset{
    width: 50%;
    margin-top: 150%;
    position: bottom;
    padding-bottom: 60%;
    padding-left: 30%;
    margin-left:10%;
    color: black;

    button{
        color: #222;
    }
}
h1{
    text-align: center;
}
}

